[package]
name = "steamworks"
version = "0.9.0"
authors = ["Thinkofname"]
description = "Provides rust friendly bindings to the steamworks sdk"
license = "MIT / Apache-2.0"
repository = "https://github.com/Noxime/steamworks-rs"
documentation = "https://docs.rs/steamworks"
keywords = ["steam", "gamedev"]
categories = ["games"]
edition = "2021"

[features]
default = []
raw-bindings = []

[workspace]
members = [
    "./steamworks-sys",
    "examples/chat-example",
    "examples/workshop"
]

[dependencies]
steamworks-sys = {path = "./steamworks-sys", version = "0.9.0"}
thiserror = "1.0"
bitflags = "1.2"
lazy_static = "1.4"
serde = { version = "1.0", features = ["derive"], optional = true }

[dev-dependencies]
serial_test = "0.6"
