[package]
name = "steamworks"
version = "0.5.0"
authors = ["Thinkofname"]
description = "Provides rust friendly bindings to the steamworks sdk"
license = "MIT / Apache-2.0"
repository = "https://github.com/Thinkofname/steamworks-rs"
documentation = "https://docs.rs/steamworks"
keywords = ["steam", "gamedev"]
categories = ["games"]
edition = "2018"

[package.metadata.docs.rs]
features = [ "docs-only" ]

[features]
default = []
# Skip looking for the steamworks sdk for docs builds
docs-only = ["steamworks-sys/docs-only"]

[workspace]
members = [
    "./steamworks-sys"
]

[dependencies]
steamworks-sys = {path = "./steamworks-sys", version = "0.4.0"}
failure = "0.1.5"
bitflags = "1.0.4"
libc = "0.2.50"
lazy_static = "1.3.0"
